body {
    background: rgb(237,211,244);
    background: linear-gradient(180deg, rgba(237,211,244,0.76234243697479) 0%, rgba(191,144,230,1) 96%);
     color: black;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
}
.darkmode p {
    color:white; 
}
.header{
    padding-top: 5px;
    padding-bottom: 1px;
    text-align: center;
}
h1 {
    color:rebeccapurple;
}
.container {   
  display: flex;
 flex-flow: row nowrap;
  justify-content: center;
  align-items:flex-start;
    /* width: 80%;
    padding-bottom: 30px;
    margin: 0 auto; */
}
.container > * {
  margin: 25px;
    background: #F2EBFB;
    border-radius: 30px;
    box-shadow: inset 0 0 20px 5px #491A74;          
}
.questionDiv {
    padding: 20px;
}

.showResults{
    width: 260px;
    height: 260px;

}

.correctBtn {    
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100px;
}

/* Rätta mitt quiz-knappen */
#correctMyQuiz {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.darkmode #correctMyQuiz {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#correctMyQuiz:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#correctMyQuiz:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(237, 226, 241);
  left: 0;
  top: 0;
  border-radius: 10px;
}
.darkmode #correctMyQuiz:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.instruktion {
  font-size: 12px;
}
.results {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.darkmode{
    background: #11001C;
  color: white;
}

.darkmode .container > * {
  background: #220135;
  box-shadow: inset 0 0 20px 5px #8641c7;  
}

/* Ändra mode-knappen */
.changeMode {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.darkmode .changeMode {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.changeMode:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.changeMode:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(237, 226, 241);
  left: 0;
  top: 0;
  border-radius: 10px;
}
.darkmode .changeMode:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  left: 0;
  top: 0;
  border-radius: 10px;
}
