body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
     color: black;
}
h1 {
    color:rebeccapurple;
}
.darkmode {
    background-color: black;
  color: white;
}

.instruktion {
    border: 1px solid black;
}
.darkmode .questionDiv {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.questionDiv {
    background-image: linear-gradient( 135deg, #FFF3B0 10%, #CA26FF 100%);
    border: 1px solid black;
    margin:auto;
    display: inline-block;
}

.resultDiv {
    border: 1px solid black;
}

/* .changeMode { button

} 
.#correctMyQuiz { button
}
*/
